POSTGRES_DB=music_sync
POSTGRES_USER=music_sync
POSTGRES_PASSWORD=change_me

SPOTIFY_CLIENT_ID=change_me
SPOTIFY_CLIENT_SECRET=change_me
SPOTIFY_REDIRECT_URI=http://localhost:8080/api/spotify/callback
